*{
    margin: 0;
    padding: 0;
    border-radius: box-border;
}


h1{
    text-align:center;
}

button:hover{
    color: white;
    background-color: green;
    cursor: pointer;
}
button:active{
    background-color:darkgreen;
}

.input:focus{
    border: 2px solid blue;
    background-color: lightyellow;
    outline: none;

}

input[type='radio']:checked{
    transform: scale(1.3);
}
input[type='checkbox']:checked{
    transform: scale(1.3);
}
li:nth-of-type(odd){
    color: blue;
}
li:nth-of-type(even){
    color: red;
}

li:hover{
    color: orange;
}

button{
    border-radius: 10px;
    width: 100px;
}


form{
    width:500px;
    margin:auto;
}

body{
    padding:40px;
}
ol{
    padding-left: 30px;
}